pipelines:
  default:
    - step:
        name: Run tests
        image: php:7.4-fpm
        caches:
            - composer
        script:
          - apt-get update && apt-get install -qy git curl libmcrypt-dev libxml2-dev wget libzip-dev libpng-dev
          - docker-php-ext-install bcmath zip gd
          - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
          - composer install
          - composer global require "squizlabs/php_codesniffer=*"
          - composer global require "friendsofphp/php-cs-fixer"
          - ~/.composer/vendor/bin/phpcs -n
          - ~/.composer/vendor/bin/php-cs-fixer fix --config .php-cs-fixer.dist.php --dry-run
            # phpstan
          - vendor/bin/phpstan analyse --memory-limit=2G
            # pest
          - vendor/bin/pest
    - step:
        name: Trigger composer update
        script:
          - pipe: atlassian/trigger-pipeline:4.2.1
            variables:
              BITBUCKET_USERNAME: $BITBUCKET_USERNAME
              BITBUCKET_APP_PASSWORD: $BITBUCKET_APP_PASSWORD
              REPOSITORY: 'composer.organi.be'
              ACCOUNT: 'organi_team'
              CUSTOM_PIPELINE_NAME: 'deploy'
